<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script type="text/css">

    </script>
</head>
<body>
    <table border="1" cellspacing="0" cellpadding="0">
        <tr>
            <td>登录名</td>
            <td>密码</td>
            <td>昵称</td>
            <td>性别</td>
            <td>年龄</td>
            <td>创建时间</td>
            <td>更新时间</td>
            <td>最后登录时间</td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.loginName}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.nickName}"></td>
            <td th:text="${user.gender==0?'女':'男'}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.createdAt}"></td>
            <td th:text="${user.updatedAt}"></td>
            <td th:text="${user.lastLoginAt}"></td>
        </tr>
    </table>
</body>
</html>